<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eportal.mapper.User_StudentsMapper">
    <resultMap id="student" type="com.eportal.model.Student">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="address" column="address"/>
        <result property="phoneNumber" column="phoneNumber"/>
    </resultMap>

    <select id="getStudentsByLogin" parameterType="java.lang.String" resultMap="student">
        SELECT s.id, s.name, s.age, s.address, s.phoneNumber FROM user_students us
        JOIN student s ON s.id = us.id
        WHERE login = #{login};
    </select>
    
    <insert id="insertUser_Student">
        INSERT INTO user_students (login, id) VALUE (#{login}, #{id});
    </insert>

    <delete id="deleteStudentFromList">
        DELETE FROM user_students WHERE login=#{login} AND id= #{id};
    </delete>
</mapper>